@model IEnumerable<ITCMS_HUIT.Client.Models.UserViewDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .pagination-container {
        display: flex;
        flex: 1;
        margin: 12px;
    }

    .pagination {
        display: flex;
        flex: 1;
        list-style: none;
        padding: 0;
        gap: .625rem;
    }

    .page-item, .page-link {
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .PagedList-pageCountAndLocation {
        justify-content: space-between;
        order: -1;
        flex: 1;
    }

    .product-management-buttons {
        margin: 12px;
    }
</style>
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content" style="margin-top: 60px;">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h3 class="m-b-10">Danh Sách Người Dùng</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>User Name</th>
                                                        <th>Email</th>
                                                        <th>Roles</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var user in Model)
                                                    {
                                                        <tr>
                                                            <td>@user.UserId</td>
                                                            <td>@user.UserName</td>
                                                            <td>@user.Email</td>
                                                            <td>@string.Join(", ", user.Roles!)</td>
                                                            <td>
                                                                <a class="btn btn-primary" asp-action="Edit" asp-controller="Account" asp-route-userId="@user.UserId"><i class="fas fa-edit"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        @Html.PagedListPager((IPagedList)Model,
                                        pageNo => Url.Action("Index", "Account", new { pageNo, area = "Admin" }),
                                        new PagedListRenderOptions
                                        {
                                        PageClasses = new string[] { "page-link" },
                                        UlElementClasses = new string[] { "pagination" },
                                        LiElementClasses = new string[] { "page-item" },
                                        DisplayItemSliceAndTotal = true,
                                        DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                        DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                        DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded
                                        })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var successMessage = "@Html.Raw(TempData["Update successful"])";
        if (successMessage !== "") {
            alert(successMessage);
        }
    });
</script>