@model IEnumerable<ITCMS_HUIT.Client.Models.HocVienDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .pagination-container {
        display: flex;
        flex: 1;
        margin: 12px;
    }

    .pagination {
        display: flex;
        flex: 1;
        list-style: none;
        padding: 0;
        gap: .625rem;
    }

    .page-item, .page-link {
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .PagedList-pageCountAndLocation {
        justify-content: space-between;
        order: -1;
        flex: 1;
    }

    .product-management-buttons {
        margin: 12px;
    }
</style>
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content" style="margin-top: 60px;">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h3 class="m-b-10">Danh Sách Học Viên</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">
                                                            ID
                                                        </th>
                                                        <th scope="col">
                                                            Tên học viên
                                                        </th>
                                                        <th scope="col">
                                                            Ngày sinh
                                                        </th>
                                                        <th scope="col">
                                                           Email
                                                        </th>
                                                        <th scope="col">
                                                            Số điện thoại
                                                        </th>
                                                        <th scope="col">
                                                            Địa chỉ
                                                        </th>
                                                        <th scope="col">
                                                            Ngày đăng ký
                                                        </th>
                                                        <th scope="col">
                                                            Đối tượng
                                                        </th>
                                                        <th scope="col">
                                                            Trạng thái
                                                        </th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.IdhocVien)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TenHocVien)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.NgaySinh)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Email)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Sdt)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.DiaChi)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.NgayDangKy)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.IddoiTuongNavigation!.DoiTuongDangKy1) 
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.IdtrangThaiNavigation!.TenTrangThai)
                                                            </td>
                                                            <td>
                                                               
                                                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.IdhocVien"><i class="fas fa-edit"></i></a> |
                                                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdhocVien"><i class="fas fa-info-circle"></i></a> |
                                                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdhocVien"><i class="fas fa-trash"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        @Html.PagedListPager((IPagedList)Model,
                                        pageNo => Url.Action("Index", "HocViens", new { pageNo, area = "Admin" }),
                                        new PagedListRenderOptions
                                        {
                                        PageClasses = new string[] { "page-link" },
                                        UlElementClasses = new string[] { "pagination" },
                                        LiElementClasses = new string[] { "page-item" },
                                        DisplayItemSliceAndTotal = true,
                                        DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                        DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                        DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded
                                        })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

