@model IEnumerable<ITCMS_HUIT.Client.Models.ThongTinHocVienDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .pagination-container {
        display: flex;
        flex: 1;
        margin: 12px;
    }

    .pagination {
        display: flex;
        flex: 1;
        list-style: none;
        padding: 0;
        gap: .625rem;
    }

    .page-item, .page-link {
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .PagedList-pageCountAndLocation {
        justify-content: space-between;
        order: -1;
        flex: 1;
    }

    .product-management-buttons {
        margin: 12px;
    }

</style>
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content" style="margin-top: 60px;">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ breadcrumb ] start -->
                        <div class="page-header">
                            <div class="page-block">
                                <div class="row align-items-center">
                                    <div class="col-md-12">
                                        <div class="page-header-title">
                                            <h3 class="m-b-10">Danh Sách Thông Tin Học Viên</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ breadcrumb ] end -->
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="full-left">
                                                <div class="full-left">
                                                    <form asp-controller="ThongTinHocViens" asp-action="ExportExcelById" method="post" class="d-flex flex-column">
                                                        <div class="input-group">
                                                            <select class="form-control" name="id">
                                                                <option value="">-- Chọn Lớp Học --</option>
                                                                @foreach (var item in (ViewData["DanhSachLopHoc"] as List<LopHocDTO>)!)
                                                                {
                                                                    <option value="@item.IdlopHoc">@item.TenLopHoc</option>
                                                                }
                                                            </select>
                                                            <button type="submit" class="btn btn-success">
                                                                <i class="fas fa-file-excel"></i> Xuất Excel
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>

                                                <div class="full-left mb-2">
                                                    <form asp-controller="ThongTinHocViens" asp-action="Import" method="post" class="d-flex flex-column">
                                                        <div class="input-group">                                                       
                                                            <div class="input-group-append">
                                                                <div class="custom-file">
                                                                    <input type="file" class="custom-file-input" id="fileInput" onchange="setFileName()" />
                                                                    <label class="custom-file-label" for="fileInput">Chọn tệp Excel</label>
                                                                </div>
                                                                <input type="hidden" id="fileNameInput" name="fileName" value="" />
                                                            </div>
                                                            <button type="submit" class="btn btn-info"><i class="fas fa-file-excel"></i> Nhập Excel</button>
                                                        </div>
                                                    </form>
                                                </div>                                     
                                            </div>
                                            <div class="full-right">
                                                <form asp-controller="ThongTinHocViens" asp-action="TimKiemHocVienTheoTenHocVien" method="post" class="d-flex" style="margin-right:-15px;">
                                                    <div class="input-group mx-sm-3">
                                                        <input type="text" class="form-control" id="searchInput" name="tenHocVien" placeholder="Tìm kiếm tên học viên">
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                   @*  <div class="card-header">
                                        <div class="d-flex justify-content-between align-items-center">

                                            <!-- Xuất Excel -->
                                            <div class="full-left">
                                                <form asp-controller="ThongTinHocViens" asp-action="ExportExcelById" method="post" class="d-flex flex-column">
                                                    <div class="input-group">
                                                        <select class="form-control" name="id">
                                                            <option value="">-- Chọn Lớp Học --</option>
                                                            @foreach (var item in (ViewData["DanhSachLopHoc"] as List<LopHocDTO>)!)
                                                            {
                                                                <option value="@item.IdlopHoc">@item.TenLopHoc</option>
                                                            }
                                                        </select>
                                                        <button type="submit" class="btn btn-success">
                                                            <i class="fas fa-file-excel"></i> Xuất Excel
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>

                                            <!-- Nhập Excel -->
                                            <div class="full-left">
                                                <form asp-controller="ThongTinHocViens" asp-action="Import" method="post" class="d-flex flex-column">
                                                    <div class="input-group">
                                                        <button type="submit" class="btn btn-info">
                                                            <i class="fas fa-file-excel"></i> Nhập Excel
                                                        </button>
                                                        <div class="input-group-append">
                                                            <div class="custom-file">
                                                                <input type="file" class="custom-file-input" id="fileInput" onchange="setFileName()" />
                                                                <label class="custom-file-label" for="fileInput">Chọn tệp Excel</label>
                                                            </div>
                                                            <input type="hidden" id="fileNameInput" name="fileName" value="" />
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <!-- Tìm kiếm -->
                                            <div class="full-right">
                                                <form asp-controller="ThongTinHocViens" asp-action="TimKiemHocVienTheoTenHocVien" method="post" class="d-flex" style="margin-right:-15px;">
                                                    <div class="input-group mx-sm-3">
                                                        <input type="text" class="form-control" id="searchInput" name="tenHocVien" placeholder="Tìm kiếm tên học viên">
                                                        <div class="input-group-append">
                                                            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div> *@

                                    <div class="card-body table-border-style">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">
                                                            ID Học viên
                                                        </th>
                                                        <th scope="col">
                                                            ID Lớp học
                                                        </th>
                                                        <th scope="col">
                                                            Điểm
                                                        </th>
                                                        <th scope="col">
                                                            Ngày thông báo
                                                        </th>
                                                        <th scope="col">
                                                            Trạng thái thông báo
                                                        </th>
                                                        <th scope="col">
                                                            Số lần vắng mặt
                                                        </th>
                                                        <th scope="col">
                                                            Lý do thông báo
                                                        </th>
                                                        <th scope="col">
                                                            Học phí
                                                        </th>
                                                        <th scope="col">
                                                            Ngày giờ giao dịch
                                                        </th>
                                                        <th scope="col">
                                                            Trạng thái thanh toán
                                                        </th>                                    
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                               
                                                                @Html.DisplayFor(modelItem => item.IdhocVienNavigation!.TenHocVien)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.IdlopHocNavigation!.TenLopHoc)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Diem)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.NgayThongBao)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TrangThaiThongBao)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.SoLanVangMat)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.LyDoThongBao)
                                                            </td>
                                                            <td>
                                                                @string.Format("{0:N0} VNĐ", item.HocPhi)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.NgayGioGiaoDich)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TrangThaiThanhToan)
                                                            </td>
                                                            
                                                            <td>
                                                                
                                                                <a class="btn btn-primary" asp-action="Edit" asp-route-IdlopHoc="@item.IdlopHoc" asp-route-IdhocVien="@item.IdhocVien"><i class="fas fa-edit"></i></a> |
                                                                <a class="btn btn-info" asp-action="Details" asp-route-IdlopHoc="@item.IdlopHoc" asp-route-IdhocVien="@item.IdhocVien"><i class="fas fa-info-circle"></i></a> |
                                                                <a class="btn btn-danger" asp-action="Delete" asp-route-IdlopHoc="@item.IdlopHoc" asp-route-IdhocVien="@item.IdhocVien"><i class="fas fa-trash"></i></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        @Html.PagedListPager((IPagedList)Model,
                                        pageNo => Url.Action("Index","ThongTinHocViens", new { pageNo, area="Admin" }),
                                        new PagedListRenderOptions{
                                        PageClasses = new string[] { "page-link" },
                                        UlElementClasses = new string[] { "pagination" },
                                        LiElementClasses = new string[] { "page-item" },
                                        DisplayItemSliceAndTotal = true,
                                        DisplayEllipsesWhenNotShowingAllPageNumbers = true,
                                        DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                                        DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded
                                        }
                                        )
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function setFileName() {
        var files = document.getElementById("fileInput").files;

        // Kiểm tra xem có ít nhất một file đã chọn hay không
        if (files.length > 0) {
            // Lấy tên của file đầu tiên
            var fileName = files[0].name;

            // Đặt giá trị vào input hidden
            document.getElementById("fileNameInput").value = fileName;
        }
    }
</script>